<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Contact email from the website</h1>
    <p>Name: <%= @sender.name %></p>
    <p>Contact type: <%= @sender.contact_type %></p>
    <p>Event: <%= @sender.event %></p>
    <%= @sender.body %>
  </body>
</html>

