#nav{
	margin: 0;
	padding: 7px 6px 0;
	line-height: 100%;
	
	background: #0964A7; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0964A7', endColorstr='#0D92F3'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#0964A7), to(#0D92F3)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #0964A7, #0D92F3); /* for firefox 3.6+ */
 
	
	border-radius: 2em;
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	
	-webkit-box-shadow: 01px 3px rgba(0,0,0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .4);
}

#nav li {
	float: left;
	list-style: none outside none;
	margin: 0 5px;
	padding: 0 0 8px;
	position: relative;
}

#nav a {
	-moz-border-radius: 1.6em 1.6em 1.6em 1.6em;
	-webkit-border-radius: 1.6em 1.6em 1.6em 1.6em;
	border-radius: 1.6em 1.6em 1.6em 1.6em;
    color: #56B0F3;
    display: block;
    font-weight: bold;
    margin: 0;
    padding: 8px 20px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
}

#nav .current a, #nav li:hover > a {
	background: #04acec; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#04acec', endColorstr='#0186ba'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #04acec, #0186ba); /* for firefox 3.6+ */

	color: #FFFFFF;
	
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	-box-shadow: 0 1px 1px rgba(0,0,0, .2);
	
}

#nav ul li:hover a, #nav li:hover li a {
    -moz-box-shadow: none;
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #56B0F3;
}

#nav ul a:hover {
    -moz-border-radius: 0 0 0 0;
    
    background: #0963A7 !important; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#04acec', endColorstr='#0186ba'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba)) !important; /* for webkit browsers */
	background: -moz-linear-gradient(top, #04acec, #0186ba) !important; /* for firefox 3.6+ */

    color: #FFFFFF !important;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
}

#nav ul {
	display: none;
	
	background: #053259; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#053259', endColorstr='#509DDF'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#0963A7), to(#0186ba)); /* for webkit browsers */
	background: -moz-linear-gradient(top, #053259, #509DDF); /* for firefox 3.6+ */
	
	margin: 0;
	padding: 0;
	width: 185px;
	position: absolute;
	top: 35px;
	left: 0;
	border: solid 1px #b4b4b4;
	
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0, .3);
	box-shadow: 0 1px 3px rgba(0,0,0, .3);
}

#nav li:hover > ul {
	display: block;
}

#nav ul li {
    float: none;
    margin: 0;
    padding: 0;
}

#nav ul a {
    font-weight: normal;
}

#nav ul ul {
    left: 181px;
    top: -3px;
}

#nav ul li:first-child > a {
    -moz-border-radius-topleft: 9px;
    -moz-border-radius-topright: 9px;
    -webkit-border-radius-topleft: 9px;
    -webkit-border-radius-topright: 9px;
    border-radius-topleft: 9px;
    border-radius-topright: 9px;
}

#nav ul li:last-child > a {
    -moz-border-radius-bottomleft: 9px;
    -moz-border-radius-bottomright: 9px;
    -webkit-border-radius-bottomleft: 9px;
    -webkit-border-radius-bottomright: 9px;
    border-radius-bottomleft: 9px;
    border-radius-bottomright: 9px;
}

#nav:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    line-height: 0;
    visibility: hidden;
}

html[xmlns] #nav {
	display: block;
}

* html #nav {
	height: 1%;
} 