<% title @title %>

<p>Choose area to administer</p>
<ul>
	<li><%= link_to "Event Types", categories_path %></li>
	<li><%= link_to "Events", events_path %></li>
	<li><%= link_to "Users", users_path %></li>
</ul>