<% title "Contact Us" %>

<p>You can either contact us by phone, email or the form below:</p>
<ul>
  <li>Ellen 07760686746 ellen@inspirationalgatherings.co.uk</li>
  <li>Lisa 07971556719 lisa@inspirationalgatherings.co.uk</li>
</ul>
<%= render 'form' %>

