<section id="extras" class="body">
				<div id="event-list">
					<h2>upcoming events</h2>
					<ul>
						<% for event in Event.next_five %>
							<li><%= link_to event.title, event_path(event.id) %></li>
						<% end %>
					</ul>
				</div>
				<%= image_tag("mbs.jpg", :alt => "Inspirational Retreat Image") %>
				<div class="social">
					<h2>social</h2>
					<ul>
						<li><a href="http://www.delicious.com/inspirationalgatherings" rel="me">delicious</a></li>
						<li><a href="http://www.facebook.com/pages/Inspirational-Gatherings/136767873034010" rel="me">facebook</a></li>
						<li><a href="http://www.last.fm/user/InspirationalG" rel="me">last.fm</a></li>
						<li><a href="http://inspirationalgatherings.wordpress.com/" rel="alternate">rss</a></li>
						<li><a href="http://twitter.com/inspirationalg" rel="me">twitter</a></li>
						<li><a href="http://uk.linkedin.com/in/inspirationalgatherings" rel="me">linkedin</a></li>
					</ul>
				</div><!-- /.social -->
			</section>

